[2020-06-11 10:25] sridharsridha opened #2 "AirlineRefresh is called even if Airline plugin is not installed."
**Describe the bug**
Error detected while processing function <SNR>181_NeovimStdoutCallback[3]..<SNR>185_CMakeConsoleCb:
line   13:
E492: Not an editor command: AirlineRefresh

**To Reproduce**
No special steps it, is hit by default.

**Expected behavior**
AirlineRefresh needs to be called only if it exist:

[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Ot

[2020-06-11 16:53] cdelledonne commented on #2
Hello, first issue reporter!

You're right, `AirlineRefresh` shouldn't be called when it is not defined. Will fix this soon. Thanks!

[2020-06-11 17:59] cdelledonne commented on #2
I just pushed a fix, please update your plugin and let me know if that works

[2020-06-11 21:13] sridharsridha commented on #2
Thank you for fixing this. Yes, I do not get the ` Not an editor command: AirlineRefresh` error.

[2020-06-11 21:13] #2 closed

[2020-06-25 13:18] snikulov opened #3 "issue with neovim 0.3.0 bundled with CentOS 7"
**Describe the bug**
The plugin is not working on CentOS7 / neovim v0.3.0 / cmake v3.17.2

**Error:**
Error detected while processing function cmake#Generate[16]..cmake#generate#Run:
line    8:
E121: Undefined variable: s:cmake_version
E15: Invalid expression: s:cmake_version < 313

**To Reproduce**
Steps to reproduce the behavior:
1. Install CMake plugin using vim-plug ```Plug 'cdelledonne/vim-cm

[2020-06-26 08:28] cdelledonne commented on #3
Hi, thank you for reporting the issue.

I downloaded Nvim 0.3.0 to try to reproduce the issue, but that error doesn't seem to occur to me. I did find another problem though, for which I created a pull request. Out of curiosity, have you tried a newer Nvim on the same machine?

Otherwise, would you be willing to help me debug your issue?

[2020-06-29 08:33] snikulov commented on #3
No. I've used pre-built neovim from CentOS 7 repository

[code]

How I can help you?

[2020-06-29 13:43] cdelledonne commented on #3
1. Checkout the branch `nvim-0-3-0-compat` of this plugin:
[code]
    then remember to source your `init.vim` and run `:PlugUpdate`
2. Relaunch `nvim`, and run `:CMakeGenerate`

I added some debug messages, you should hopefully see them appearing in Nvim. If so, please send me a screenshot of that.

Thanks!

[2020-07-06 17:07] cdelledonne commented on #3
@snikulov I launched a VM running CentOS 7, and installed Nvim (0.3.0) from the EPEL repository. I was not able to reproduce the issue, Vim-CMake works as expected.

I'm closing this issue, the problem might have to do with something other than Nvim or this plugin.

[2020-07-06 17:07] #3 closed

[2020-08-06 15:25] AlexAUT opened #6 "Close CMake Window on successfull CMakeBuild"
**Describe the solution you'd like**
It would be awesome to have an option which closes the CMake window after a successful build. Just to avoid the two keystrokes for ```cq```.

Thanks for the great plugin :+1:

[2020-08-12 10:45] cdelledonne commented on #6
Hi, thanks for posting this!

I've been thinking about this, and yes, closing the CMake window after a successful `:CMakeGenerate` or `:CMakeBuild` would be a nice option to have.

More in general, I was thinking whether it's worth adding some autocommand events, something like `CMakeBuildOk`, `CMakeBuildError`, etc. That way, the user would be able to do anything on such events.

What do you thin

[2020-08-12 10:52] AlexAUT commented on #6
Autocommand events would be awesome because one could start the application after a successful build.
For now I have to build with a hotkey and then debug (vimspector) the application with a separate key.

I think having both options would be awesome, however I do not know vimscript and cannot tell how much time it takes to implement it.

[2020-08-12 14:55] cdelledonne commented on #6
Two use cases are already enough to go for autocommand events, as far as I'm concerned. I'll pick this up when I'm back from holidays, unless, of course, you'd like to give Vimscript a shot :).

[2020-08-18 21:50] GGCristo opened #8 "[Request] Jump to errors"
Your plugin its pretty well designed, I like the idea of using an unique window so I don't have to use the :colder command with ALE, also I can switch easily between buildings, but there is one problem, when an error occurs I cant jump to the line with that error.

I guess implementing this with the terminal window it would be like walking trough hell, so maybe it would be nice to have the option

[2020-08-18 22:22] GGCristo opened #9 "[ERROR] Job still runing in buffer"
**Describe the bug** **To Reproduce**
Using commands like :CMakeCenerate or :CMakeCuild let the procces running in the background so when I try to exist vim an E947 doesn't let me leave.

**Expected behavior**
The script should finish or kill the process when I leave vim

**Screenshots**
![Screenshot_20200818_232106](https://user-images.githubusercontent.com/58046649/90571438-a5774080-e1a9-11ea-82

[2020-08-19 19:52] cdelledonne commented on #8
Hey, thank you for the request!

Indeed the implementation is not trivial in both ways, I wish there were a cleaner solution. One day I'll think about it further. Thanks again for opening this.

[2020-08-19 19:54] cdelledonne commented on #9
Hi, thank you for reporting this.

I'll try to reproduce it in the next few days as soon as I find some time. To recap, you launch Vim, then call `:CMakeOpen`, then try to quit Vim, and you get the error. Correct?

[2020-08-19 20:04] GGCristo commented on #9
Yes.

[2020-08-19 21:30] GGCristo commented on #8
Maybe a workaround could be an autocommand in Buffenter for .cpp filetypes, that change the makeprg accordingly to the default build (because when you open a session the build activated its the default one), and when you do :CMakeSwitch or :CMakeGenerate with one argument change again.
The best of both worlds your plugin and  vhdirk/vim-cmake.
Maybe this affect performance because of the autocoman

[2020-08-19 23:34] GGCristo commented on #8
Ok, currently this is my workaround.
In plugin/cmake.vim . line 50
[code]
In autoload/cmake/switch.vim. line 44
[code]
If CMakebuild find an error I run a regular make.

I know its shabby, but I use it as the last option.

[2020-08-20 15:09] cdelledonne commented on #9
The latest commit should solve this issue. Could you try to update your plugin and check if the error disappeared?

[2020-08-20 15:11] GGCristo commented on #9
Yes, it looks like it works fine know.

[2020-08-20 15:15] #9 closed

[2020-09-01 08:26] #8 closed

[2020-09-13 20:33] GGCristo opened #11 "vim-cmake doesn't populate all the errors in the quickfix"
**Describe the bug**
Quickfix doesn't populate all the errors

**To Reproduce**
:CMakeBuild
[Open quickfix]
**Expected behavior**
All the errors and warnings must be present in the quickfix.

**Screenshots**
![Screenshot_20200913_212624](https://user-images.githubusercontent.com/58046649/93027931-466de580-f608-11ea-868d-4f0dc698e33c.png)
If I fix the second bug...
![Screenshot_20200913_213100](htt

[2020-09-17 20:54] cdelledonne commented on #11
Hey, thanks for reporting.

I've been a little busy. Let me look into it this weekend.

[2020-09-17 22:14] cdelledonne commented on #11
Actually that was hopefully an easy fix (#12). I hadn't tested the feature in Vim enough (I use Neovim).

Could you checkout the branch `fix-output-parsing-vim` and see if that fixes your issue? Thanks!

[2020-09-18 12:02] GGCristo commented on #11
So far so good, but I've only tested it in two projects and the minimal one of the images.
Thanks and sorry if I am too persistent.

[2020-09-18 13:44] cdelledonne commented on #11
I actually appreciate bug reports and feature requests, it's what make open-source software better :) I'll merge the patch and close the issue, feel free to re-open if the problem occurs again.

[2020-09-18 13:45] #11 closed

[2020-10-11 07:07] ivan-volnov opened #13 "Additional project generation options"
Thank you very much for a such great plugin.

In order to use it personally I need some more project generation options:

[code]

Or just an array of custom generation options:

[code]

I suppose they must be useful for another people.

[2020-10-11 15:22] cdelledonne commented on #13
Hi, thank you for your kind feedback!

Indeed having an option for default `:CMakeGenerate` options would be nice. I would be in favour of `g:cmake_generate_options`, for consistency with `g:cmake_build_options`.

Would you be interested in submitting a pull request for this?

[2020-10-12 08:18] ivan-volnov commented on #13
Ok, let it be g:cmake_generate_options.

You know, I've tried. But it turned out that it's quite hard for me now to get into the coding process at this project.
So, feel free to implement it. And I'm looking forward to updating =) Thanks.

[2020-10-13 19:30] cdelledonne commented on #13
I've added `g:cmake_generate_options`, please try if that works and let me know :)

[2020-10-14 00:09] sam20908 opened #14 "Plugin refuse to work when it's installed in a directory with spaces"
**Describe the bug**
A clear and concise description of what the bug is.
The plugin refuses to generate because my home path contains a space

**To Reproduce**
Steps to reproduce the behavior:
1. Have a home path with space inside (typically Windows with accounts of full names)
2. Run `:CMakeGenerate`

**Expected behavior**
The project should successfully configure

**Screenshots**
![f783df6cb6ff2

[2020-10-14 04:41] ivan-volnov commented on #13
It works! Thank you very much!

[2020-10-14 04:41] #13 closed

[2020-10-14 07:18] ivan-volnov opened #15 "Wrong root directory for CMakeGenerate output"
**Describe the bug**
CMakeGenerate ignores root folder found by g:cmake_root_markers

**To Reproduce**
Steps to reproduce the behavior:
1. Setup project structure like this:

[code]

2. Add to config:

[code]

3. Open file project/src/main.cpp in vim
4. Execute :CMakeGenerate
5. As result project structure will be:

[code]

**Expected behavior**
Directory Debug must be created at the project root.

[2020-10-17 14:49] cdelledonne commented on #15
Hi, thanks for reporting the issue. It seems indeed that there's a bug with setting the root directory when generating project files and when building. I'm not sure I have time to look into this soon, otherwise I'll do it in a week or so.

Regarding

Could you open separate feature requests, one for each suggestion?

Anyway, thanks a lot for your bug reports and feature requests, they are very app

[2020-10-17 15:01] cdelledonne commented on #14
Hi, thanks for reporting the problem.

I've tried to reproduce it on Linux, and there is actually no issue. I created a project inside a directory with path `/home/cdelledonne/Developer/Directory with spaces/Test project`, then ran ":CMakeGenerate" from inside of `Test project`, and I got a normal, successful output:

[code]

The problem must be with Windows refusing to run the bash script that po

[2020-10-17 15:08] cdelledonne commented on #14
EDIT: actually the directory with spaces creates trouble when the plugin itself is inside a path with spaces. I'm reopening the issue as I should look into this as well. But the problem with Windows remains.

[2020-10-17 15:33] sam20908 commented on #14
Thank you very much for putting effort to investigate this! I really appreciate it 👍

[2020-10-17 18:34] sam20908 commented on #14
I'll rename the title of this issue to reflect the actual issue 👍

[2020-10-31 18:52] #14 closed

[2020-10-31 20:51] cdelledonne commented on #15
I finally managed to look into this issue.

I submitted #17. Could you checkout the branch `set-correct-source-and-build-dirs` and see if that fixes your issue? Thanks!

[2020-10-31 22:22] sam20908 commented on #14
Can confirm it works! 👍

[2020-11-01 09:48] cdelledonne commented on #14
Out of curiosity, on which platform/terminal did you test it?

[2020-11-01 14:06] sam20908 commented on #14
I tested it on Windows 😉 . I mainly use the Windows Terminal.

[2020-11-08 09:29] ivan-volnov opened #18 "g:cmake_link_compile_commands option should imply -DCMAKE_EXPORT_COMPILE_COMMANDS=ON"
g:cmake_link_compile_commands option should imply -DCMAKE_EXPORT_COMPILE_COMMANDS=ON command line argument to cmake.

[2020-11-08 09:29] ivan-volnov opened #19 "Add an option to set relative build path"
It should be configurable to set path for build folder. For example '..' (parent directory of the project root)

[code]

[2020-11-08 09:31] ivan-volnov commented on #15
Thank you very much. It works!

I also opened separate feature requests for the suggestions.

[2020-11-08 09:31] #15 closed

[2020-11-20 15:00] #6 closed

[2020-12-02 10:11] maxnoe opened #23 "Add command to call ctest in build dir"
**Is your feature request related to a problem? Please describe.**

It would be cool to also be able to run `ctest -v` in the current build directory

**Describe the solution you'd like**

A new command `CTest` that runs ctest in the current build dir.

[2020-12-04 17:19] cdelledonne commented on #23
Hi, thanks for posting this!

When calling `enable_testing()`, CMake adds a `test` target to the build system. That is, to run `ctest` in the current build directory, you can do
[code]
If you look at the Makefile generated after calling `:CMakeGenerate`, the target `test` look like
[code]
which means that to pass command-line arguments to `ctest`, e.g. `-V`, you have to do
[code]

For the above re

[2020-12-20 17:48] #18 closed

[2020-12-20 17:49] cdelledonne commented on #18
Implemented in 301e37bd022aaeffa7585dbe4df614c7a4bb7cd4

[2020-12-26 08:10] BlurryLight opened #25 "CMakeClose fail to close the console window"
**Describe the bug**
CMakeClose fail to close the console window

**To Reproduce**
Steps to reproduce the behavior:
1. `CMakeBuild` or `CMakeGenerate`,  which write some chars into the console window buffer. Or just call `CMakeOpen` and input some random chars.
2. call `CMakeClose` . *Error37: No write since last change (add ! to override)*

**Expected behavior**
- `CMakeClose` should close the wi

[2020-12-26 09:14] BlurryLight commented on #25
https://github.com/cdelledonne/vim-cmake/blob/09c043adde3be5dba499fef68ea27d7209d8db07/autoload/cmake/console.vim#L185

Modifying this line into `execute l:cmake_window . 'close!' `  works as what I expected.

[2020-12-29 15:54] cdelledonne commented on #25
Hi, thanks a lot for posting this.

At the moment I cannot look into it very carefully, I should be able to do it in the next days though. Out of curiosity, with your fix, what happens when trying to close the CMake window while the CMake window is the last window?

[2020-12-30 02:32] BlurryLight commented on #25
It will be the standard vim behaviour: "E444: Cannot close the last window".  Users have to use `:q!` to quit the vim.

[2021-01-16 23:57] Andoku opened #27 "E121: Undefined variable: s:cmake_version"
**Describe the bug**
Trying to run CMakeGenerate, but getting error: Undefined variable: s:cmake_version
cmake is installed, version 3.19.2

**To Reproduce**
Steps to reproduce the behavior:
1. Run :CMakeGenerate

**Screenshots**
![Screenshot 2021-01-17 at 02 50 46](https://user-images.githubusercontent.com/669031/104827519-858a9c80-586f-11eb-8b41-e32ea639662d.png)

**Other info**
- OS: Linux Manj

[2021-01-18 08:53] cdelledonne commented on #27
Hi, thanks a lot for reporting this. I'll take a look as soon as possible, I'm currently a little busy with work.

[2021-01-22 08:46] cdelledonne commented on #27
I tried using the same version of CMake as you, but I could not reproduce your issue. I have a few questions:
- Did you try to pull the latest version of this plugin and try to run `:CMakeGenerate` again?
- Is the `cmake` executable in your `PATH`? If not, did you set `g:cmake_command` accordingly?

[2021-01-22 14:11] Andoku commented on #27
Yes, tried it right now again

Yes, I can run cmake from terminal and tried setting let g:cmake_command='cmake', but nothing helps
![Screenshot_2021-01-22_17-11-26](https://user-images.githubusercontent.com/669031/105501152-eb927c00-5cd4-11eb-9c4b-0fa02946d784.png)

[2021-01-22 15:23] cdelledonne commented on #27
Thank you for trying. One more thing then: restart Vim, then try to call `:CMakeGenerate` again, and after you get the error message, call `:messages`. Then post here the output, if there is any.

[2021-01-22 18:05] Andoku commented on #27
![Screenshot 2021-01-22 at 21 04 24](https://user-images.githubusercontent.com/669031/105528026-80a56d00-5cf5-11eb-9082-78aa6f394ca0.png)

[2021-01-26 12:06] matu3ba commented on #25
Even on closing, I get an infinity loop taking up a full CPU.

[2021-01-26 12:54] matu3ba opened #28 "feat: detect, show and use top-level directory of cmake"
__Reasoning__
It is quite annoying to be forced to always jump to the top level directory, but we also dont want to mess up the build. For example, git submodules or external projects on wrong invocation of cmake may lead to this.
(the CMakeList.txt does not hint that the code is used as submodule)

__Status Line__
I It would be good to show the top-level directory in the statusline, but probably

[2021-02-08 02:08] akorchemniy commented on #25
Running :CMakeBuild also switches the active window into insert mode. Kinda of annoy. Have to remember to leave insert mode, then switch to the CMake console window, leave terminal mode, then cq.

[2021-02-13 12:59] GopherJ opened #29 "don't create compile_commands.json soft link if cmake gives error"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when an invalid compile_commands.json link has been created

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

create the link after successfully running cmake command
**Describe alternatives you've cons

[2021-02-14 21:32] cdelledonne commented on #29
Hi, thank you for posting this.

Your request makes sense. I have a question regarding this though: if a `compile_commands.json` already exists, then you run `:CMakeGenerate` and that returns an error, what would you like to happen? Nothing? Or should the old `compile_commands.json` be deleted?

By the way, would you be interested in preparing a pull request for this yourself?

[2021-02-14 22:18] cdelledonne commented on #28
Hi, thank you for posting this.

I agree that the detection of the top-level directory could use some improvement. Other than what you suggest, the top-level directory should also be computed each time it is needed, and not only when the plugin is loaded (this is the current behaviour), so that if the user changes the CWD, the path to the top-level directory is updated accordingly.

At the moment,

[2021-02-14 22:27] cdelledonne commented on #19
Apologies for the delay on this, at the moment I am quite busy with some other stuff and cannot work on this plugin too much. I will take this up in a few weeks.

[2021-02-14 22:38] cdelledonne commented on #27
Apologies for the delay on this, at the moment I am quite busy with some other stuff and cannot work on this plugin too much.

I still can't reproduce this. Would you be willing to debug this for me? You could modify the source code and add log statements using `cmake#util#Log(level, message)`. You can use `'I'` as `level`.

If you don't feel like it, I can scatter some more log statements around

[2021-02-14 22:45] cdelledonne commented on #25
Apologies for the delay on this, at the moment I am quite busy with some other stuff and cannot work on this plugin too much.

I can't reproduce this issue with my Vim instance. It might be some Vim terminal-related configuration which is conflicting with this plugin. I mostly use Neovim, thus I'm not an expert on Vim's terminal options. I will look into that as soon as I find some time.

By the w

[2021-02-14 22:46] cdelledonne commented on #25
@akorchemniy I suspect this is also related to some Vim terminal-related configuration. Could you please open a separate issue though? Thanks.

[2021-02-15 13:55] Andoku commented on #27
@cdelledonne I debbuged it a little and found out that somehow line 19 in generate.vim
`call cmake#command#Run(s:command, 1, 1, function('s:GetCMakeVersionCb'))`

Doesn't get called at all, how can it be? I added print before, after and inside this call (inside Run). Before and After were printed but inside wasn't.

[2021-02-15 15:20] matu3ba commented on #28
You are missing the case, if we are in a git submodule folder. Aside, that looks good to me.
I can not really tell you, when I find the time to do this as I never have written alot vimscript before.

[2021-02-15 17:05] cdelledonne commented on #28
Doesn't that still fall under "By default, detect top-level directory using `git rev-parse`"? The two options you listed, `--show-toplevel` and `--show-superproject-working-tree`, should give us what we need, right?

Vimscript is a little ugly but not too difficult. If you are interested in submitting a PR, whenever you find time, I can review your work step by step.

[2021-02-15 21:02] cdelledonne commented on #27
What's the output of `: version`?

[2021-02-15 22:24] Andoku commented on #27
@cdelledonne

[code]

[2021-02-16 22:43] Andoku commented on #27
@cdelledonne I investigated a little bit further - if i change line 162 manually for my version:
`if 319 < 313`
Everything works fine. So the main problem is
`call cmake#command#Run(s:command, 1, 1, function('s:GetCMakeVersionCb'))`
doesn't work somehow

[2021-02-17 23:37] cdelledonne commented on #27
Hi, thanks a lot again for investigating this.

I have found some time to look into my code, and I might have identified the issue. Basically it could happen that the external job `cmake --version` invoked by Vim-CMake returns so quickly that we didn't even have the time to set the reference to the callback to be invoked—in this case, `s:GetCMakeVersionCb`.

Technicalities aside, I've pushed a pot

[2021-02-18 12:24] Andoku commented on #27
@cdelledonne now when I run :CMakeGenerate everything gets stuck (freezes) and only closing editor helps

[2021-02-18 15:41] cdelledonne commented on #27
Ah interesting, yes makes sense :)

I removed the culprit, and added some log statements. Could you please pull the latest updates to the branch `27-undefined-variable-s-cmake-version`, then restart Vim, then try to call `:CMakeGenerate` again, and then post the output of `:messages`?

Once again, thank you for debugging this with me.

[2021-02-19 23:53] cdelledonne commented on #27
I have actually pushed a more recent version of that branch with a potential fix. When you have time to test it, please let me know if the whole problem is solved.

[2021-02-20 13:22] Andoku commented on #27
@cdelledonne it seems that now everything works

[2021-02-20 16:32] cdelledonne commented on #27
That's great! I'll merge the fix then

[2021-03-14 11:57] matu3ba opened #31 "can not create compile_commands.json"
**Describe the bug**
vim-cmake does generate the Makefile and cmake objects in folder Debug, but it does not generate a compile_commands.json necessary for clangd or any other c++ language server.

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure you have folder called Debug.
2. Run :CMakeGenerate

**Expected behavior**
The compile_commands.json should be created. However it is not,

[2021-03-23 14:16] bitwisemanager commented on #25
Hey guys, is it possible automatically to close vim when CMake window is the last window?

[2021-04-08 08:41] cdelledonne commented on #31
Hi, sorry for replying this late.

I cannot reproduce your issue at the moment. What is your Vim-CMake configuration? In particular, is `g:cmake_link_compile_commands` set?

I will anyway look into the problem more carefully as soon as I find some time.

[2021-04-14 14:19] cdelledonne commented on #19
I've added a new configuration option, `g:cmake_build_dir_location`, please run `:help cmake-configuration` to read about it.

I have also improved the usage of `:CMakeGenerate` as well, please run `:help cmake-generate` to check out the new usage.

Closed in 6318c72321d9be3ac9c1fc1dac88531069472d78

[2021-04-14 14:19] #19 closed

[2021-05-13 21:41] tafryn commented on #27
@cdelledonne I'm having this same issue with the most recent version.

* OS: CentOS 7
* Neovim: 0.5.0-nightly
* vim-cmake: 0.6.0
* cmake: 3.17.5

[2021-06-03 09:21] zeertzjq commented on #25
I tried this plugin in Neovim 5.0 Nightly and `:CMakeBuild` also switches the active window into insert mode.

[2021-06-03 09:24] cdelledonne commented on #25
Hmm interesting, I'll try to reproduce that asap

[2021-06-11 09:44] dilawar commented on #25
I am facing the same issue as @zeertzjq . Running neovim nightly.

[2021-06-11 16:41] cdelledonne commented on #25
@zeertzjq @dilawar I can't reproduce your issue with Neovim nightly. I'm not sure, but it could be some configuration option in your `vimrc` file or some other plugin's option causing the issue. Anyway, please open a separate issue with a clear description of how to reproduce your problem, so that I can try to help you further. Also please try to reproduce the issue with a minimal `vimrc`

[2021-06-11 16:43] cdelledonne commented on #25
@vnepogodin by "same error" you mean what's in the title of the issue? Or is it that running a command switches the active window into insert mode?

[2021-06-11 19:02] dilawar commented on #25
running a command switches the active window into insert mode.

[2021-06-11 21:19] vnepogodin commented on #25
@cdelledonne same as in the title of the issue

[2021-06-13 10:22] zeertzjq commented on #25
Oh, it seems to be caused by a plugin indeed. Sorry for bothering you.

[2021-06-13 11:38] dilawar commented on #25
which plugin? may be I have the same plaugin causing issue.

[2021-06-15 11:02] vnepogodin commented on #25
I've tested with minimal setup:
[code]
Not working in Vim v8.2, working in Neovim v0.4.4

[2021-06-17 09:02] cdelledonne commented on #25
Thank you for reporting this. I created a Manjaro VM (the OP's system) and I could indeed reproduce this issue. Will do some digging and get back to you  guys soon. Thank you for your patience :)

[2021-06-17 14:19] cdelledonne commented on #25
Hey @BlurryLight @vnepogodin, I have just pushed a fix that I think should address this issue. Could you please try to pull the latest `master` and let me know if the problem went away or not?

Thank you very much in advance.

[2021-06-17 15:12] cdelledonne commented on #25
@bitwisemanager the `filetype` of the CMake window buffer is `vimcmake`, i.e. `&filetype == 'vimcmake'` returns `1`. You could take inspiration from this answer to implement what you need: https://stackoverflow.com/questions/7069927/in-vimscript-how-to-test-if-a-window-is-the-last-window

[2021-06-17 15:32] vnepogodin commented on #25
I've just tested and issue is fixed. Thank you!

[2021-06-17 15:44] BlurryLight commented on #25
@bitwisemanager

I hope this snippet could help you.
[code]

@cdelledonne
I've tested the latest fix on vim8.2 from Manjaro x64. It works as expected. Thanks for that.

There are some discussions on another problem about switching the active window into insert mode. I believe that behaviour has little relation about the problem described in the title. It is better to open a new issue to fully disc

[2021-06-17 15:44] #25 closed

[2021-06-17 17:38] cdelledonne commented on #25
Nice to hear things work now! And yes, best to address different problems in separate issues,

[2021-06-17 17:48] cdelledonne commented on #27
@tafryn thank you for reporting this, I have reopened this issue to investigate the problem further.

As I cannot reproduce the issue, could you please try to reproduce it with a minimal `vimrc`, and post the content of this `vimrc` here? Also, are you running the `nvim.appimage` binary or something else?

Thank you for patiently waiting for my answer :)

[2021-07-14 21:45] Andoku opened #32 ":CMakeGenerate only adds -DCMAKE_BUILD_TYPE flag on first time"
### Bug description
If I use commands:
`:CMakeGenerate Debug` or `:CMakeGenerate! Debug`
It adds `-DCMAKE_BUILD_TYPE=Debug` flag only if folder build/Debug doesn't exist.
If I run it the second time it doesn't add this flag

### To Reproduce
Steps to reproduce the behavior:
1. Run `:CMakeGenerate! Debug`
2. Run `:CMakeGenerate! Debug` second time

### Expected behavior
Expected to always add `-DCM

[2021-07-15 15:47] cdelledonne commented on #32
Hi, thanks a lot for reporting this!

Indeed the plugin behaves as you reported, which is wrong. What I think should happen is:
1. When the user calls `:CMakeGenerate Debug [...]` for the first time, the `cmake` command should be called with `-DCMAKE_BUILD_TYPE=Debug`
2. If the user calls `:CMakeGenerate Debug [...]` again, and the `Debug` folder already exists, there's no need to add the `-DCMAKE

[2021-07-15 15:52] Andoku commented on #32
Sounds reasonable

[2021-07-17 10:31] cdelledonne commented on #32
Actually, I think it would be much easier (and probably more robust) to always pass the `-DCMAKE_BUILD_TYPE` option, as you had originally suggested.

Anyway, would you be interested in preparing a PR for this? It should not be too hard. Otherwise, I'll submit a fix soon.

[2021-07-18 12:00] #32 closed

[2021-08-13 03:08] bharatvaj opened #36 "CMake Preset support"
### Request description
 Can we support CMake presets? I would like to see an option which shows the available presets and let's the user tab complete it. And possibly change state variables like `g:cmake_build_dir_location` based on selected preset.

### Desired behavior
1. After calling the `CMakePreset` command with the preferred preset, `cmake --preset` should be called.
2. The `g:cmake_build_

[2021-08-24 07:57] cdelledonne commented on #36
Hi, thanks a lot for requesting this. Looks interesting. I'm currently on holidays, I'll have a look at it when I'm back.

[2021-08-24 16:06] youzark opened #37 "cannot find project path from subdirectory"
### Bug description
suppose the project's file hierarchy as below:
project_root
    CMakeLists.txt
    .marker(such .git)
    src
        main.cpp
    include
        hello.hpp

I can only use cmakegenerate in project_root to locate .marker correctly
if I try it in src or include , it will try to locate .marker from $HOME

I found FindProjectRoot() in autoload
if I change the following line:

[2021-08-25 08:56] cdelledonne commented on #37
Hi, thanks for reporting this. However, I cannot reproduce your problem. Can you please fill in the issue description template as it is provided when creating an issue?

[2021-08-31 13:24] youzark commented on #37
I rewrite the issue
### Bug description
cmake can't find project root properly

### To Reproduce
Steps to reproduce the behavior:
1. file structure:(under project root)
CMakeLists.txt include/hello.hpp src/main.cpp src/printer.cpp .youzark(a marker)
2. In src/main.cpp run :CMakeGenerate (or other subfile)
3. In root dir run :CMakeGenerate

### Expected behavior
under both 2 or 3, the CMakeLists(th

[2021-09-04 19:11] matu3ba commented on #31
@cdelledonne As of now I dont use the plugin anymore, since setting up debug options with cmake is a pain in the ass: https://github.com/mfussenegger/nvim-dap/wiki/Debug-symbols-in-various-languages-and-build-systems#cmake and I would prefer having always debug symbols for developing.

Personally I think having per-project settings for cmake works best, either with a [config](https://github.com/ma

[2021-09-04 19:12] matu3ba commented on #31
closed with worksforme and clangd appears now to look inside build folders for compile_command.json

[2021-09-04 19:12] #31 closed

[2021-09-17 05:25] NitroCao commented on #27
@tafryn Please check the output of `cmake --version`. I guess your output is `cmake3 version 3.17.5`. If so, please replace `cmake` with `cmake3` in the following line https://github.com/cdelledonne/vim-cmake/blob/d4ea81eb0604ec8b64be6a3159ef14b7263ff4ed/autoload/cmake/generate.vim#L8

[2021-11-21 18:24] Kuxe commented on #36
In my workflow I use all of the following commands:
[code]
These are all of the current preset commands as of CMake 3.22.0, so if all of these were supported then this plugin would have "full"-preset support - which would be great!

[2021-12-12 15:23] cdelledonne commented on #27
@NitroCao which combination of OS and CMake package outputs `cmake3 version ...` instead of `cmake version ...`? My CentOS virtual machine with CMake 3.17.5 does not do that.

[2021-12-12 17:19] cdelledonne commented on #37
@youzark sorry for the huge delay.

Could you please try to pull the latest `master` and check if this issue is resolved? Thank you.

[2021-12-13 04:16] NitroCao commented on #27
CentOS 7.2.1511, cmake3 package in epel repo.
[code]

[2021-12-13 08:51] cdelledonne commented on #27
Ah yes, tried to install `cmake3` from `epel` and indeed that's the output. I pushed a fix for this, it's on the latest `master`. I'm closing this issue then, let me know if there are still problems.

[2021-12-13 08:51] #27 closed

[2021-12-17 01:31] zcchen commented on #37
@cdelledonne I am using the latest `master`, this issue is still here, at least when `autochdir` is set.
But if unset the `autochdir` in `.vimrc`, open sub folder files in project root. It works as expected.

Thanks.

[2021-12-18 15:35] cdelledonne commented on #37
Great!

[2021-12-18 15:35] #37 closed

[2022-01-19 08:58] anupambhatnagar opened #38 "Unable to set cmake_root_markers to empty list"
### Bug description
Unable to set `cmake_root_markers` to empty list via `.vimrc`. If `let g:cmake_root_markers = []` is executed after launching vim, then the correct value can be set.

### To Reproduce
1. Add the following line in your `.vimrc` or `init.vim` file:
[code]
2. Save the file and restart vim
3. Execute `let g:cmake_root_markers` in vim.
4. The output is `['.git', '.svn']` instead of

[2022-01-21 11:05] cdelledonne commented on #38
Hi, thanks a lot for reporting this. And happy to hear you find the plugin useful :)

Yes this is indeed not the expected behavior. For some reason, when the user sets the value of a configuration variable to an empty list, that list is extended with the default configuration values. See line 47 from `plugin/cmake.vim`
https://github.com/cdelledonne/vim-cmake/blob/d82f2a185b17f8390877a8bc4d112dada

[2022-01-29 15:41] zirco740 opened #39 "Blank terminal after build or generate"
### Bug description
A clear and concise description of what the bug is.
After running :CMakeGenerate or :CMakeBuild, a blank terminal is generated but it was doing nothing. I have made sure that the command leads to cmake executable is correct. The terminal remains blank no matter how long I waited for it.

### To Reproduce
Steps to reproduce the behavior:
1.  Run :CMakeGenerate or :CMakeBuild wit

[2022-02-01 12:34] cdelledonne commented on #39
Hi, thank you for reporting this.

Which terminal emulator are you using on Windows? I'm not too familiar with the available options, but will try to investigate what might cause the issue. I suspect your terminal can't run `bash` scripts natively, but not sure (as an example, [Windows Terminal](https://en.wikipedia.org/wiki/Windows_Terminal) should).

[2022-02-01 12:39] zirco740 commented on #39
I was using Windows Terminal, and I have also tried to change the command a few times to see if the default command cannot call CMake, but seems like it has nothing to do with the default command.

[2022-02-01 12:41] zirco740 commented on #39
One thing that's very strange is when I hit the enter key in that terminal, a heart-shaped icon pops up.

[2022-02-01 12:54] cdelledonne commented on #39
Lovely :heart:

Then it looks like we have no support for Windows at the moment :) I will try to set up a virtual machine with Windows and look into the problem. I will keep you posted, but I'm not sure when I'll have time for it (I hope in the next few days).

[2022-02-01 13:33] cdelledonne commented on #39
While I get around to setting up a Windows machine, could you please try something? In `autoload/cmake/job.vim`, replace
https://github.com/cdelledonne/vim-cmake/blob/d82f2a185b17f8390877a8bc4d112dadabe3cea6/autoload/cmake/job.vim#L40
with
[code]
Basically pass a list to `termopen()` instead of a string. From `:h jobstart()`
[code]
I'm curious to see what happens if we run the Bash command "direct

[2022-02-01 13:58] zirco740 commented on #39
![image](https://user-images.githubusercontent.com/54179931/151981566-8fc4f8c8-de76-4a25-b596-3300643e3e09.png)
An error is shown after the modification of line 40 and running :CMakeGenerate.

[2022-02-22 23:58] cdelledonne commented on #39
@zirco740 I did some major reformatting of the plugin's code, and got rid of the Bash script altogether. I haven't tested extensively, but it seems that the plugin now works under Windows (I tried in a Windows Terminal) as well.

Could you please pull the branch [`major-refactoring`](https://github.com/cdelledonne/vim-cmake/tree/major-refactoring) and test it as well? Would be great to receive som

[2022-02-23 03:12] zirco740 commented on #39
It works perfectly fine!

[2022-03-16 12:41] ravenxrz opened #41 "How to switch BuildType Debug/Release quickly?"
Currently, I  can switch CMake build type by setting g:cmake_default_config='Debug'/'Release'. Is there any better way to do this?
another question is how to use `:CMakeSwitch <config>`, I don't understand what does `<config>` mean.
Thanks!

[2022-03-16 15:10] cdelledonne commented on #39
Great, than I'll merge that PR. The current version seems to only work on Windows using Neovim, which I made explicit in the docs and the README. Will open a follow-up issue to address support for Vim on Windows.

[2022-03-16 15:12] #39 closed

[2022-03-16 15:12] #38 closed

[2022-03-16 15:20] cdelledonne opened #42 "Support Vim under Windows"
Support for Neovim under Windows has been added in #40. However, the plugin does not work in Vim under Windows yet.

[2022-03-16 15:27] cdelledonne commented on #41
Hi, I think `:CMakeSwitch` is indeed what you're looking for. For instance, to switch to the build configuration `Release`, just run `:CMakeSwitch Release`. You can also trigger autocompletion for the available configurations by pressing `<Tab>` after typing `:CMakeSwitch` in the command line.

By the way, all these commands are documented, try `:help cmake-commands`.

Let me know if this does not

[2022-03-16 15:27] #41 closed

[2022-03-17 02:26] ravenxrz commented on #41
Thank you for your reply. I read the manual and know to use these commands now.
But I get a new issue when use CMakeGenerate:
![image](https://user-images.githubusercontent.com/44746032/158722912-ba5ad623-56a5-45d9-a592-0c98b050ea6c.png)

the `pwd` is: /home/rave/tmp/test_project,  but the project root path is `pwd` followed by a while space, which does not exits.

[2022-03-17 09:03] cdelledonne commented on #41
Hmm that's strange. Could you please open a separate issue for that? Please also
- pull the latest `master` branch
- enable logging by setting `g:cmake_log_file` to something like `/tmp/vim-cmake.log` before running any command
- fill in the complete issue template for bugs

Thanks a lot!

[2022-03-22 08:10] lazyshawn opened #43 "E117: Unknown function: nvim_open_term"
### Bug description
Error when running :CMakeGenerate
[code]

### To Reproduce
Steps to reproduce the behavior:
1. install vim-cmake
2. open an cpp file, running `:CMakeGenerate"

### Behavior with minimal `.vimrc`
[code]

### Other info
- OS:  Ubuntu 20.04
- Vim/Neovim version:  0.4.3
- Vim-CMake version (5th line in `:help cmake`):  0.7.0

[2022-03-22 09:07] cdelledonne commented on #43
Hey, thanks for reporting this.

It seems indeed that Neovim 0.4.3 does not have the built-in function `nvim_open_term`. The features appears for the first time in Neovim 0.5.0.

I'm not sure I want to add compatibility for older versions of Neovim, it would typically lead to much more messy code and would be harder to maintain—in fact, supporting Neovim and Vim at the same time, and supporting MS

[2022-03-23 02:35] lazyshawn commented on #43
Thanks. I upgrate nvim to 0.7.0, and it works well now.

[2022-03-23 02:36] #43 closed

[2022-03-23 13:30] ravenxrz opened #44 "Weird project root path"
### Bug description

I got a weird project root path output after I run CMakeGenerate:

![image](https://user-images.githubusercontent.com/44746032/159711115-786396ac-461f-490d-9396-2eb89073e72a.png)

the pwd is: /home/rave/tmp/test_project, but the project root path is pwd followed by a white space, which does not exist.

### To Reproduce
Steps to reproduce the behavior:
1. open project
2. Type `

[2022-03-23 13:30] ravenxrz commented on #41
Sorry for this late reply, I opened a new issue for this.

[2022-03-24 21:09] loftyhauser commented on #44
I'm getting exactly the same on Mint 18 (Ubuntu 20.04), with vim-cmake 0.7 and vim 8.1.  I con't have any vim-cmake configuration customizations.

[2022-03-28 08:13] cdelledonne commented on #44
Hey, thanks for opening this.

I cannot reproduce the problem, perhaps that has to do with some underlying system configuration. Let me think of a way to debug this and get back to you in a few days.

In the meantime, could you tell me which shell you're using?

[2022-03-28 09:13] ravenxrz commented on #44
I use gnome-shell with zsh.

[2022-03-28 12:28] loftyhauser commented on #44
I'm using XFCE with bash; I've also seen the problem on a Suse system with bash.  The strange thing is that (on the Suse system) I commented out just about everything in my .vimrc and retried the cmake plugin commands, and did *not* see the problem.  So I tried again on the Suse system (with the minimal .vimrc) and *did* see the problem again.  I'm going to do some more digging to see what might b

[2022-03-28 21:27] loftyhauser commented on #44
It appears the problem is the version of CMake that comes with Ubuntu 20.04 (probably a change in behavior with newer versions).  The plugin problem is present on clean installs of Ubuntu 20.04 (vim 8.1 and cmake 3.16) and Debian 11 (vim 8.2 and cmake 3.18), but not on Fedora 35 (vim 8.2 and cmake 3.22).  I compiled cmake-3.23.0rc5 on my Mint machine and the vim-cmake plugin appears to be working

[2022-03-29 04:41] ravenxrz commented on #44
Thank you. I have verified version 3.23.0-rc5 works on Ubuntu20.04 too.

Wait for @cdelledonne to fix this.

[2022-03-29 11:29] cdelledonne commented on #44
@loftyhauser thanks a lot for the thorough investigation, and @ravenxrz thanks for confirming that. I'll try to find some time this weekend to install an older CMake and debug the issue.

[2022-04-02 11:22] cdelledonne commented on #44
@ravenxrz @loftyhauser I've pushed a fix on the branch `44-weird-project-root-path`, could you please try if that fixes your problem? Thanks in advance.

[2022-04-02 11:54] ravenxrz commented on #44
It works on my WSL with CMake version 3.16.3 now. Thank you.

[2022-04-02 12:33] loftyhauser commented on #44
I've also verified that the fix works for the standard cmake and vim versions that come with Ubuntu 20.04 (vim 8.1 and cmake 3.16) as well as newer versions (vim 8.2 and cmake 3.23).  Thanks!

[2022-04-02 15:24] cdelledonne commented on #44
Great, then I'll merge :)

[2022-04-02 15:25] #44 closed

[2022-04-02 16:16] cdelledonne commented on #29
As of abf3d39666942fe68657cce303c534d865d06567, a link to the `compile_commands.json` file is only created on a successful `:CMakeGenerate` and on a successful `:CMakeSwitch`.

[2022-04-02 16:16] #29 closed

[2022-04-02 16:31] cdelledonne opened #46 "Support additional statusline plugins"
At the moment, only [vim-airline](https://github.com/vim-airline/vim-airline) is supported. Add support for additional statusline plugins, possibly also those written in Lua for Neovim.

[2022-04-02 16:43] cdelledonne opened #47 "Add an option to save (and restore) project context"
### Request description
Add an option to save (and restore) project context, mostly `buildsys.current_config`.

### Desired behavior
Context should be saved such that when exiting and starting Vim/Neovim again it can be restored. The `buildsys.current_config` variable is the most important one, as it points to the current build configuration. There should also be an option to control whether or no

[2022-04-10 01:39] ravenxrz opened #49 "CMakeRun command support"
### Request description

Run an executable file inside vim/nvim using CMakeRun.

### Desired behavior

After executing the CMakeBuild command, we will get a bunch of executable files. It would be very sweet if we could run those files inside vim/nvim,  i.e. run   `:CMakeRun +  exec file + args` in vim/nvim.

### Alternatives solutions

Run the file in a terminal window.

[2022-04-10 12:45] cdelledonne commented on #49
Hi thanks for opening this.

This plugin's main goal is to provide an interface to CMake commands, as opposed to a generic interface to Vim/Neovim terminals. Running an arbitrary executable is outside the scope of Vim-CMake's responsibilities.

By the way, what executable files would you like to run? Are they those you generate with CMake's [`add_executable`](https://cmake.org/cmake/help/latest/co

[2022-04-10 13:21] ravenxrz commented on #49
Yeah.  That's exactly what I want to say. Use CMakeRun to run executable files generated with  `add_executable`  directive. I get this idea from vscode cmake plugin, which shows us a prompt window, and let us pick a target to build and run.

[2022-04-21 17:44] yo-lo-pregunto opened #50 "nvim_open_term error"
I'm running neovim on Ubuntu 20.04 WSL and I'm having the following error when I run the `:CMakeGenerate` command.

Error detected while processing function cmake#Generate[2]..293[20]..290[17]..287[19]..<SNR>74_CreateConsoleBuffer[2]..<SNR>74_TermSetup:                                                                            line    4:

[2022-04-22 08:49] cdelledonne commented on #50
Hi, I assume you're running Neovim 0.4.3, and your issue relates to this comment: https://github.com/cdelledonne/vim-cmake/issues/43#issuecomment-1074909350.

The current solution is to use a newer version of Neovim, at least 0.5.0. I will add an error message for those running older versions.

[2022-04-22 08:49] #50 closed

[2022-04-24 09:01] cdelledonne commented on #49
I actually wanted to think about this feature request, not dismiss it. I'm just out of free time in this period, will get back to this in the near future :)

I'll re-open

[2022-05-04 19:57] marwing commented on #46
Hi,
A good first step might be to provide an option to disable vim-cmake's custom statusline.

Currently, vim-cmake forcibly sets the `statusline` option (locally) in its terminal window ([here](https://github.com/cdelledonne/vim-cmake/blob/07fb73ee0d0c89dd608f1ed5f691bc151406558a/autoload/cmake/terminal.vim#L251-L253)). This overrides other plugins' statuslines, even if they have a custom configu

[2022-06-03 00:29] neckutrek opened #52 "Enable jump when :CMakeOpen"
I'd like to be able to focus the cmake console window when running `:CMakeOpen`.
The reason is that I want to toggle line numbers in that window when it has been newly opened.

Even if I set `:let g:cmake_jump=1`, when calling `:CMakeOpen` the window focus is not on the cmake console window.

Perhaps adding a `:CMakeFocus` function could be a nice extension?
Or adding a conditional check on `autol

[2022-06-20 09:45] cdelledonne commented on #52
Hi, thanks for posting this.

Your request makes sense. I've been busy and couldn't work on this plugin lately, but I'll hopefully find some time in these two weeks. Let me get back to you then. Thanks for your patience :)

[2022-07-04 07:05] IZenithy opened #53 "How can I disable spell checking inside vimcmake buffer"
Can someone tell me how to do it?

[2022-07-17 21:00] cdelledonne commented on #53
Do you enable spell checking by default? Then you can set an autocmd for the `vimcmake` filetype
[code]

[2022-07-17 21:00] #53 closed

[2022-07-17 21:35] IZenithy commented on #53
Thanks!

[2022-07-24 15:07] #23 closed

[2022-07-24 18:23] cdelledonne commented on #52
@neckutrek could you please checkout the branch `52-enable-jump-when-cmakeopen` and see if that matches your expected behaviour? The command `:CMakeOpen` now respects the value of `g:cmake_jump`.

[2022-07-26 12:41] #52 closed

[2022-07-26 12:42] cdelledonne commented on #52
I've actually merged into `master`, just pulled that and let me know if you see any problems

[2022-07-27 13:52] #46 closed

[2022-07-27 14:32] #28 closed

[2022-07-28 07:49] marwing opened #57 "Command output with ninja build system broken"
### Bug description
When generating a ninja based build system instead of a Makefile based one the display of ninjas output during build doesn't work as it should. There are two components to this issue:
1. Ninjas output only shows up when the command exits
2. All output is displayed next to each other in a single line

### To Reproduce
Steps to reproduce the behavior:
1. Create a CMake project or

[2022-08-02 13:05] cdelledonne commented on #57
I went a little bit into too much detail perhaps, as I'm curious to hear your thoughts on these issues, if you have any. I'll try to find time soon to split this issue into multiple tickets that can be addressed independently and in parallel. I'll also then prioritize this issue over other feature requests. And as always contributions are welcome!

[2022-08-02 23:01] marwing commented on #57
Thanks for the extensive response. That is indeed more feedback than I expected but I do have some thoughts on these issues. I do have to prefix them with a disclaimer though: I know next to nothing about the APIs and details surrounding embedded terminals in vim and neovim, especially considering the differences between vim's and neovim's versions.

## Line endings
Both neovim and vim do the righ

[2022-08-07 06:44] jowu598 commented on #11
I reproduced this in latest version.

[2022-08-08 08:14] cdelledonne opened #58 "Quickfix feature not working"
I reproduced this in latest version.

_Originally posted by @jowu598 in https://github.com/cdelledonne/vim-cmake/issues/11#issuecomment-1207342848_

[2022-08-08 08:15] cdelledonne commented on #58
@jowu598 you're right, I just opened this fresh issue and I'll look into the problem soon

[2022-08-08 15:14] cdelledonne commented on #58
@jowu598 I added a fix, could you please try branch `58-quickfix-feature-not-working` to see if the problem is gone? Thanks in advance.

[2022-08-09 18:49] #47 closed

[2022-08-10 07:04] maikelmeyers commented on #36
So far, none of the vim/neovim plugins seem to support this feature. But there are more and more projects that use it. In these projects, you can't use these plugins, which is a pity. The Cmake plugin from VSCode has this feature integrated right away. I really hope that the vim/neovim plugins will follow suit. The cmake-presets are very comfortable.

[2022-08-10 07:28] cdelledonne commented on #36
Hi, thanks for posting this comment. I absolutely agree that CMake presets should be supported, as you said more and more projects are using this feature. I just have little time to work on Vim-CMake at the moment, and I believe that adding support for presets requires some non-negligible amount of work to properly design and implement this addition. I can't promise anything for this month, but I'

[2022-08-10 22:36] maikelmeyers commented on #36
Here comes the reference: [https://github.com/microsoft/vscode-cmake-tools/blob/HEAD/docs/cmake-presets.md](https://github.com/microsoft/vscode-cmake-tools/blob/HEAD/docs/cmake-presets.md)

It would be enough if the preset mode is activated as soon as a CMakePresets.json is present.

Then it only needs a few elements:

1. Selecting one of the Configure/Build and Test presets from the existing ones

[2022-08-15 14:44] #58 closed

[2022-08-15 14:45] cdelledonne commented on #58
The fix has been merged into `master`, feel free to reopen if you still encounter the issue

[2022-08-19 18:34] marwing commented on #57
Ping?

[2022-08-21 17:31] cdelledonne opened #62 "Retrieve build targets using CMake's file API"
Vim-CMake uses the `help` target to retrieve a list of available build targets. When running `cmake --build <build_dir> --target help`, there are a few differences between the output for Makefile systems and that for Ninja systems—e.g. the format is different, and Ninja systems also return a lot more entries.

To make the retrieval of build targets consistent and build tool-independent, we could u

[2022-08-21 17:31] cdelledonne commented on #57
Pong! :) Apologies for the long radio silence, it's a busy period. And thanks a lot for the extensive comment.

Vim-CMake used to work in a similar fashion (up to [v0.6.2](https://github.com/cdelledonne/vim-cmake/tree/844b85677d52d932432eb115236d9173ebe3664d)). It used to run a terminal with a simple bash script running inside of it, where the script would wait for some command string on the stdin

[2022-08-21 17:32] cdelledonne commented on #57
As for the problem with retrieving the build targets consistently, CMake's file API sounds like a promising option, thank you for pointing that out. I opened #62 for that.

[2022-08-21 17:34] cdelledonne commented on #62
@marwing we'd need to decide how to incorporate this into the architecture of Vim-CMake. Feel free to propose something, otherwise I'll take this up in a few weeks.

[2022-08-22 11:27] marwing commented on #62
Integrating this into Vim-CMake seems simple enough:
- create the query file before running the CMake generate command as part of `s:buildsys.Generate()`
- parse as part of `s:RefreshTargets()` in `buildsys.vim`

We may want to create/update query files when running any CMake command, to create/update in existing build trees.
We also may want to re-parse after a `:CMakeGenerate` or `:CMakeBuild` a

[2022-08-22 11:27] marwing commented on #62
Integrating this into Vim-CMake seems simple enough:
- create the query file before running the CMake generate command as part of `s:buildsys.Generate()`
- parse as part of `s:RefreshTargets()` in `buildsys.vim`

We may want to create/update query files when running any CMake command, to create/update in existing build trees.
We also may want to re-parse after a `:CMakeGenerate` or `:CMakeBuild` a

[2022-08-24 07:51] cdelledonne commented on #62
I'm not sure I understand why. Doesn't a query file only specify the information we'd like to receive from CMake? What parts of the query file are to be changed after generating the first query file?

Yes, definitely.

I leave this to your judgement, if the complexity of creating/parsing files warrants a new module, just create it. Perhaps `fileapi.vim` would be a fairly unambiguous name.

I would

[2022-08-24 08:04] cdelledonne commented on #62
By the way, somewhat related question. When running `:CMakeGenerete`, Vim-CMake also retrieves a list of CTest tests defined in the build tree by running `ctest --show-only=json-v1`, which returns a JSON string. Would you perhaps know whether there's a way to retrieve tests with the file API, so as to make our queries to CMake consistent?

[2022-08-24 08:16] cdelledonne commented on #62
One more thing: when making a list of CMake targets, I believe we should filter out [interface libraries](https://cmake.org/cmake/help/latest/manual/cmake-buildsystem.7.html#interface-libraries), as they do not generate any build rules. Would you agree?

[2022-08-24 08:18] cdelledonne commented on #57
Then let's agree that I work on this one and you take up #62, would that be okay?

[2022-08-24 11:36] marwing commented on #57
Works for me

[2022-08-24 12:51] marwing commented on #62
If a user already has a build-tree generated our query won't be there. If we now want target completion to work we have to somehow get our query in and regenerate (to generate the replies). We could ask users to regenerate or just automatically regenerate if we don't find our query or we rely on the user doing something for CMake to regenerate during build. Unfortunately updating queries doesn't m

[2022-08-28 18:48] IZenithy opened #65 "Change directory"
### Request description
When I change my directory, vim-cmake can locate where is the new CMakeLists file is

For example, when I build this project:
![2022-08-28_21:41:19](https://user-images.githubusercontent.com/82327047/187089694-30fc36ed-8de5-4dcd-bfba-75804f48f087.jpg)

And then try to build another project:
![2022-08-28_21:45:44](https://user-images.githubusercontent.com/82327047/187089851-

[2022-09-15 14:30] guskov-roman opened #66 "Bug in function RefreshTests"
### Bug description
By CMakeGenerate  crash with error by function RefreshTests, but there is no test declarate in the project. It is just "Hello World"

### To Reproduce
Just run CMakeGenerate. Clear Debian 11 "bullseye"
1. main.cpp
[code]
3. CMakeLists.txt
[code]
### Behavior with minimal `.vimrc`
syntax on
set number
set scrolloff=3
set wrap
set showmatch
set autoread
set confirm
set noswapfile

[2022-09-26 18:03] cdelledonne commented on #66
Hi, thanks for reporting this, and sorry for replying with such a delay.

There is indeed an issue when using Vim-CMake on Vim. I'll look into it asap and get back to you.

[2022-09-26 18:07] cdelledonne commented on #65
Hi, thanks for opening this, and sorry for replying with such a delay.

Vim-CMake was designed in such a way that it only detects project locations when it's first invoked, and as you noticed if you switch to a different project without closing and re-opening the editor it will build the first project it bound to. I don't think it would be very difficult to implement a mechanism to refresh Vim-CMa

[2022-09-26 19:37] #66 closed

[2022-09-26 19:41] cdelledonne commented on #66
I added a fix, please update the plugin and let me know if the problem was solved

[2022-09-27 09:19] #65 closed

[2022-09-27 09:20] cdelledonne commented on #65
I just updated the behavior of Vim-CMake to reinitialize itself upon a change of the current directory (this behavior can be disabled by setting `g:cmake_reinit_on_dir_changed` to `0`). Let me know if that is what you were expecting.

[2022-09-27 10:19] IZenithy commented on #65
Perfect 👌

[2022-10-11 18:51] styx3r opened #69 "Support Pre-build/configure actions"
### Request description
It would be nice to run a command BEFORE any cmake command. E.g. execute a bash script before the cmake configure/build run.

### Desired behavior
Specified command will run before any cmake command.

### Additional context
I have the need to create junctions on windows before building. Currently I'm doing it within QT Creator where I can define build steps. Would be nice t

[2022-10-23 17:08] cdelledonne commented on #69
Hi, thank you for opening this feature request.

I don't think I fully understand your use case. What are junctions? And would you want this command to be run in the background or in the Vim-CMake console?

Anyway, I think adding autocommands would be nice in any case, I'll do it as soon as I have some spare time.

[2022-10-23 17:20] cdelledonne commented on #69
And of course feel free to submit a PR yourself :)

[2022-10-26 11:53] #69 closed

[2022-10-26 11:54] cdelledonne commented on #69
@styx3r I added support for pre-configure and pre-build actions in #71. Feel free to reopen if anything is missing.

[2022-10-26 12:04] styx3r commented on #69
@cdelledonne Thank your very much! You can read up on junctions [here ](https://learn.microsoft.com/en-us/sysinternals/downloads/junction). TL;DR I need junctions at work because the used buildsystem relies on folders within hardcoded paths and I don't want to have my repositories located at this point.

[2022-10-26 12:41] cdelledonne commented on #69
Ah I see, thanks for the pointer :)

[2022-10-26 17:37] aignacio opened #72 "Can't run CMakeGenerate after fresh install"
### Bug description
After installing the plugin through Vundle, I tried to run :CmakeGenerate and I get the following error:
![image](https://user-images.githubusercontent.com/5991372/198096604-1e52d35d-4682-42b3-9bb1-95700dc5e500.png)

### To Reproduce
1. Install
2.Open vim
3.Run :CMakeGenerate

### Expected behavior
Expect to get the initial cmake files

### Behavior with minimal `.vimrc`

### S

[2022-10-26 20:10] cdelledonne commented on #72
Hi, thanks for reporting this. I did in fact introduce a bug in one of the latest commits. It should be solved now, can you try the latest `master` please?

[2022-10-28 08:58] #72 closed

[2022-10-31 22:02] marwing opened #74 "Error messages in vim on any Vim-CMake command"
### Bug description
Vim shows multiple errors when running any command from Vim-CMake. This does not happen in NeoVim.
The errors don't appear to break anything obvious based on some preliminary testing.

### To Reproduce
Steps to reproduce the behavior:
1. make sure there are no active vimrc or plugins
2. clone/copy/symlink vim-cmake's master branch into ~/.vim/pack/local/start/vim-cmake
3. open

[2022-10-31 22:12] marwing commented on #74
After `git bisect`ing this, the issue disappeared and I am no longer able to reproduce it (I did not change anything else). Probably just a broken state file or something.
@cdelledonne

[2022-10-31 22:12] #74 closed

[2022-11-06 13:26] #62 closed

[2022-11-07 18:01] cdelledonne commented on #42
Running the following in Vim on Windows
[code]

results in
[code]

[2022-11-09 10:57] cdelledonne opened #75 "Possibly wrong output in narrow terminals in Vim"
### Bug description

In Vim, we can't seem to be able to set the PTY's width, as we reported upstream: https://github.com/vim/vim/issues/11476. Some commands (i.e. Ninja, as far as we know) rely on the PTY's width to output properly formatted lines, and even use ANSI sequences to manipulate/clear lines, which gets messed up when the width perceived by the command does not correspond to what we try

[2022-11-09 11:11] cdelledonne opened #76 "Possibly wrong Quickfix list in narrow terminals on Windows"
### Bug description

On Windows, ConPTY seems to be hard-wrapping lines that are longer than the PTY's width (possibly related issues: https://github.com/microsoft/terminal/issues/405, https://github.com/mintty/mintty/issues/971). Generating a Quickfix list of errors relies on error messages to be output on a single line, which is not the case for hard-wrapped error messages.

The effect is that t

[2022-11-09 11:21] #57 closed

[2022-11-16 13:06] TSUHA0 opened #77 "How to auto run CMakeGenerate before CMakeBuild?"
Hi, i want to know how to auto run CMakeGenerate before CMakeBuild, I try to set:
[code]
but it failed.
![image](https://user-images.githubusercontent.com/26431743/202186062-ea3436a5-86ef-4a0c-a32e-dd3aba4ca4ba.png)

[2022-11-18 10:35] cdelledonne commented on #77
Hi, thanks for asking this.

Autocommands should be used to run synchronous command, i.e. that block the execution until they complete. `:CMakeGenerate` is an asynchronous command, it starts a job in the background but it does not block execution.

At the moment, if there's a (asynchronous) `:CMake` command running, attempting to run another `:CMake` command will throw the error you're seeing. I c

[2022-11-18 12:41] TSUHA0 commented on #77
I am a beginner of cmake, the information you provided is very useful. As you said it is not necessary. Thanks for your reply.

[2022-11-18 12:41] #77 closed

[2022-11-18 12:43] cdelledonne commented on #77
You're very welcome!